{% extends './base.html' %}
{% block title %} <title>Index</title> {% endblock %}

{% block body %}
<div class="wrapper border border-primary p-4 shadow" style='display: flex; align-items: center; flex-direction: column;'>
    <h1>Système d'ajout de tâches (Todoliste)</h1>
   
   {% if tasks|length < 1 %}
   <p>Aucune tâche disponible. Vous pouvez en créer ci-dessous</p>
    {% else %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tâche</th>
                <th>Ajoutée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{ task.date_created.date() }} à {{ task.date_created.time() }}</td>
                <td class="" style="display: flex; justify-content: start;">
                    <a class="btn btn-danger mr-2" href='/delete/{{ task.id }}'>Supprimer</a>
                    <br />
                    <a class="btn btn-primary" href='/update/{{ task.id }}'>Modifier</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
   {% endif %}
       
   <form class="row g-3 mt-3 align-items-center" action="/" method="post">
    <div class="mb-3 col-auto">
      <label for="content" class="col-form-label">Tâche à ajouter</label>
    </div>
    <div class="mb-3 col-auto">
      <input type="text" class="form-control" name='content' id='content' aria-describedby="emailHelp" required placeholder="Votre tâche">
    </div>
    <div class="mb-3 col-auto">
        <button type="submit" class="btn btn-success">Ajouter la tâche</button>
    </div>
  </form>
</div>
{% endblock body %}