{% extends './base.html' %}
{% block head %} <title>Mise a jour</title> {% endblock head %}

{% block body %}
<div class="content" style='display: flex; align-items: center; flex-direction: column;'>
    <h1>Modification de la tache</h1>

    <form class="form" action="/update/{{ task_to_update.id }}" method="post">
        <input type='text' name='content' id='content' value="{{task_to_update.content}}" />
        <input type='submit' value = 'appliquer la modification' />
    </form>
</div>
{% endblock body %}
