{% extends './base.html' %}
{% block title %} <title>Mise à jour</title> {% endblock %}

{% block body %}
<div class="content" style='display: flex; align-items: center; flex-direction: column;'>
    <h1>Modification de la Tâche n°{{task_to_update.id}}</h1>
    <form class="form" action="/update/{{ task_to_update.id }}" method="post">
        <div class="mb-3 flex">
            <label for="content" class="form-label">Tâche à modifier</label>
            <input type="text" class="form-control" name='content' id='content' value="{{task_to_update.content}}" aria-describedby="emailHelp" required placeholder="Modifier votre tâche">
        </div>
          <button type="submit" class="btn btn-success">Appliquer la modification</button>
    </form>
</div>
{% endblock body %}
